@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h3>The following exception(s) occured:</h3>
<pre>
    @ViewBag.ExceptionMessage0<br />
    @ViewBag.ExceptionMessage1<br />
    @ViewBag.ExceptionMessage2<br />
    @ViewBag.ExceptionMessage3<br />
    @ViewBag.ExceptionMessage4<br />
    @ViewBag.ExceptionMessage5
</pre>

